#* @vtlvariable name="action" type="com.atlassian.confluence.setup.actions.SetupClusterAction" *#
<html>
	<head>
		<title>$action.getText("title.setup.cluster")</title>
        $webResourceManager.requireResourcesForContext("setup.cluster")
    </head>
	<body>
        #parse ("/setup/analytics-data.vm")
	    #parse ( "/template/includes/actionerrors.vm" )
        #parse ("/setup/setup-button.vm")

        #set ($clusterableInterfaces = $action.clusterableInterfaces)

        <form method="POST" name="clusterform" action="setupcluster.action" class="aui">
	        
	        <div class="field-group">
                <label for="clusterName">$action.getText('cluster.setup.name.label')</label>
                <input name="clusterName" id="clusterName" type="text" class="text" value="$generalUtil.htmlEncode($action.clusterName)">
                <div class="description">
                    $action.getText("cluster.setup.name.description")
                </div>
            </div>

            <div class="field-group">
                <label for="clusterHome">$action.getText('cluster.setup.home.label')</label>
                <input name="clusterHome" id="clusterHome" type="text" class="text" value="$generalUtil.htmlEncode($action.clusterHome)"/>
                <div class="description">
                    $action.getText("cluster.setup.home.description")
                </div>
            </div>

            #if ($clusterableInterfaces.size() == 1)

                #applyDecorator("warning")
                $action.getText("cluster.only.one.network.interface.warning")
            #end

            #end

            <div class="field-group">
                <label>$action.getText("cluster.interface.label")</label>

                <table class="aui aui-table-interactive network-interface">
                    <thead>
                        <tr>
                            <th id="clustaddr_choser">&nbsp;</th>
                            <th id="clustaddr_interface">$action.getText("name.word")</th>
                            <th id="clustaddr_ipv6">$action.getText("ipv6.word")</th>
                            <th id="clustaddr_ipv4">$action.getText("ipv4.word")</th>
                        </tr>
                    </thead>
                    <tbody>
                        #foreach ($iface in $clusterableInterfaces)
                        <tr>
                            <td headers="clustaddr_choser"><input type="radio" name="networkInterface" value="$iface.name" #if ($iface.current) checked="true" #end /></td>
                            <td headers="clustaddr_interface">$iface.name</td>
                            <td headers="clustaddr_ipv6">
                            #if ($iface.ipv6Addresses.size() > 0)
                                <ul>
                                #foreach ($addr in $iface.ipv6Addresses)
                                    <li>$addr.hostAddress</li>
                                #end
                                </ul>
                            #end
                            </td>
                            <td headers="clustaddr_ipv4">
                            #if ($iface.ipv4Addresses.size() > 0)
                                <ul>
                                #foreach ($addr in $iface.ipv4Addresses)
                                    <li>$addr.hostAddress</li>
                                #end
                                </ul>
                            #end
                            </td>
                        </tr>
                        #end
                    </tbody>
                </table>

                <div class="description">
                    $action.getText("cluster.setup.choose.network.interface.description")
                </div>
            </div>




            <div class="field-group">
                <label>$action.getText("cluster.setup.join.config.label")</label>
                <div class="radio">
                    <input class="radio" type="radio" name="joinMethod" value="multicast" id="useMulticast" #if($action.isMulticast()) checked #end>
                    <label for="useMulticast">Use Multicast</label>
                </div>
                <div class="radio">
                    <input class="radio" type="radio" name="joinMethod" value="tcp_ip" id="useTcpIp" #if($action.isTcpIp()) checked #end>
                    <label for="useTcpIp">Use TCP/IP</label>
                </div>
            </div>


            <div class="field-group" id="cluster-address-group" #if($action.isTcpIp()) style="display:none;" #end>
                <label for="clusterAddressString">$action.getText('cluster.setup.address.label')</label>
                <div id="cluster-address-control">
                    <input id="cluster-auto-address" type="checkbox" name="generateClusterAddress" value="auto" #if ($action.isGenerateAddress())checked #end>$action.getText('cluster.setup.generate.address')
                    <input id="cluster-auto-address-hidden" type="checkbox" name="generateClusterAddressSubmitted" value="submitted" checked>
                </div>
                <div id="cluster-address-field" #if ($action.isGenerateAddress())style="display:none;" #end>
                    <input name="clusterAddressString" id="clusterAddressString" type="text" class="text" value="$generalUtil.htmlEncode($action.clusterAddressString)">
                    <div class="description">
                        $action.getText("cluster.setup.address.description")
                    </div>
                </div>
            </div>

            <div class="field-group" id="cluster-peers-group" #if($action.isMulticast()) style="display:none;" #end>
                <label for="clusterAddressString">$action.getText('cluster.setup.peers.label')</label>
                <div id="cluster-peers-field">
                    <input name="clusterPeersString" id="clusterPeersString" type="text" class="text" value="$generalUtil.htmlEncode($action.clusterPeersString)">
                    <div class="description">
                        $action.getText("cluster.setup.peers.description")
                    </div>
                </div>
            </div>

            #setupSubmitButton("", "newCluster", "$action.getText('new.cluster')", "start-setup-button", false)
        </form>
    </body>
</html>