#* @vtlvariable name="action" type="com.atlassian.confluence.admin.actions.ViewOrUpdateLicenseAction" *#
#* @vtlvariable name="dateFormatter" type="com.atlassian.confluence.core.DateFormatter" *#
#* @vtlvariable name="confluenceLicense" type="com.atlassian.extras.api.confluence.ConfluenceLicense" *#
#* @vtlvariable name="userChecker" type="com.atlassian.confluence.util.DefaultUserChecker" *#
<html>
<head>
    <title>$action.getActionName($action.getClass().getName())</title>
    <meta name="help-path" content="/admin/help/viewlicense.vm"/>
    #requireResource("confluence.web.resources:licensedetails")
</head>
<body>
<content tag="selectedWebItem">license</content>
#parse ("/template/includes/actionerrors.vm")

<p>$action.getText("license.page.description.info")</p>
<p>$action.getText("license.page.description.update")</p>

<table class="aui">
    #if ($confluenceLicense)
        <tr>
            <th scope="row">$action.getText("license.organisation")</th>
            <td><strong id="organisationName">$confluenceLicense.organisation.name</strong></td>
        </tr>
        <tr>
            <th scope="row">$action.getText("license.datepurchased")</th>
            <td><strong>$dateFormatter.format($confluenceLicense.purchaseDate)</strong></td>
        </tr>
        <tr>
            <th scope="row">$action.getText("license.type")</th>
            <td>
                <strong id="licenseType">
                #if ($confluenceLicense.description)
                    $confluenceLicense.description
                #else
                    $confluenceLicense.licenseType.name()
                #end
                </strong>
            </td>
        </tr>
        <tr>
            <th scope="row">$action.getText("license.users")</th>
        #set($tooManyUsers = $userChecker.hasTooManyUsers())
        #if ($userChecker.isRunning())
            <td>
                <div class="aui-message aui-message-info">
                    <p>$action.getText("license.users.calculating")</p>
                </div>
            </td>
        #else
            <td #if($tooManyUsers)bgcolor="#ffcccc"#end>
                <strong>#if ($userChecker.unlimitedUserLicense) $action.getText("license.users.unlimited") #else $confluenceLicense.maximumNumberOfUsers #end</strong>

                #if (!$userChecker.unlimitedUserLicense)
                    $action.getText("license.currently.signed.up", [$userChecker.getNumberOfRegisteredUsers()]) $action.getText("license.usercount")
                    #if (!$userChecker.isRunning())
                        <form method="GET" name="refreshform" action="refreshlicensing.action">
                        <input id="licenseRefreshButton" class="submit aui-button" type="submit" value="Refresh">
                        </form>
                    #end
                #end

                #if ($tooManyUsers)
                    <p>$action.getText("license.too.many.users", [
                        "$req.contextPath/admin/users/browseusers.action",
                        $action.getText('url.atlassian'),
                        $action.getText('hitcounter.buy.upgrade'),
                        "$action.getText('mailto.sales')?subject=Confluence License Upgrade"
                        ]) </p>
                    <p>$action.getText("buy.upgrade", [$action.getText('hitcounter.buy.upgrade')])
                    $action.getText("license.upgrades", [$action.getText('hitcounter.license.upgrades')])</p>
                    $action.getText("contact.us", [$action.getText('mailto.sales')])
                #end

            </td>
        #end
        </tr>

        <tr #if($confluenceLicense.expired || $action.hasSupportPeriodExpired)bgcolor="#ffcccc"#end>
            #if ($action.evaluationLicense)
                <th scope="row">$action.getText("license.expiration")</th>
                #if ($confluenceLicense.expired)
                    <td bgcolor="#ffcccc">
                        $action.getText("evaluation.expired", [$dateFormatter.format($confluenceLicense.expiryDate)])<br/>
                        <strong>$action.getText("contact.atlassian.to.purchase", [$action.getText("mailto.sales")])</strong>
                    </td>
                #else
                    <td>
                        $action.getText("evaluation.expires.in", [$action.expiryTime])
                    </td>
                #end
            #else
                <th scope="row">$action.getText("license.supportperiod")</th>
                <td #if($action.hasSupportPeriodExpired)bgcolor="#ffcccc"#end>
                    #if ($action.hasSupportPeriodExpired)
                        $action.getText('confluence.support.has.ended',[$dateFormatter.format($action.supportPeriodEnd)])
                        <p>$action.getText('buy.renewal', [$action.getText('hitcounter.buy.renewal')])
                        $action.getText('why.renew', [$action.getText('hitcounter.why.renew')])</p>
                        $action.getText('contact.us', [$action.getText('mailto.sales')])
                    #else
                        $action.getText("support.ends.on", [$dateFormatter.format($action.supportPeriodEnd)]) $action.getText("license.editing.help")
                    #end
                </td>
            #end
        </tr>
        <tr>
            <th scope="row">$action.getText("license.support.entitlement.number.label")</th>
            <td><span id="supportEntitlementNumber">$!action.confluenceLicense.supportEntitlementNumber</span></td>
        </tr>
        <tr>
            <th scope="row">$action.getText("server.id")</th>
            <td>
                <strong><span id="serverId">$action.sid</span></strong> ($action.getText("server.id.description"))
            </td>
        </tr>
        #if ($!confluenceLicense.partnerName)
            <tr>
                <th scope="row">$action.getText("license.partner")</th>
                <td>
                    <strong>$!confluenceLicense.partnerName</strong>
                </td>
            </tr>
        #end
    #else
        <tr>
            <td>
                <p>
                $action.getText("no.valid.license")
                </p>
                <p>
                $action.getText("enter.key.below", [$action.getText('url.atlassian.software.confluence')])
                </p>
            </td>
        </tr>
    #end
</table>



<h3>$action.getText("license.update")</h3>
<form method="POST" action="doupdatelicense.action" id="updateLicenseForm" name="updateLicenseForm" class="aui">
    #form_xsrfToken()
    <div class="field-group">
        <label id="licenseString-label" for="licenseString">
            $action.getText("license.key")<span class="aui-icon icon-required">(required)</span></label>
        </label>
        <textarea
                id="licenseString"
                name="licenseString"
                rows="10"
                class="textarea long-field"
                data-aui-validation-field
                data-aui-validation-when="aui-stop-typing"
                data-aui-validation-validlicense></textarea>
        #fielderror('licenseString')
    </div>
    #bodytag( "Submit" "theme='aui'")
        #param ("editName" "update")
        #param ("editValue" "$i18n.getText('update.name')")
    #end
</form>

<section role="dialog" id="migration-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium aui-dialog2-warning" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">$action.getText('license.updated.title')</h2>
    </header>
    <div class="aui-dialog2-content">
        <p>$action.getText('license.updated')</p>
        <p>$action.getText('license.updated.data.center', ["#doc('help.moving.to.confluence.data.center' $action.getText('more.about.moving.to.confluence.data.center'))"])</p>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="migration-dialog-confirm" class="aui-button">$action.getText('confirm.name')</button>
            <button id="migration-dialog-cancel" class="aui-button aui-button-link">$action.getText('cancel.name')</button>
        </div>
    </footer>
</section>

    #parse("/breadcrumbs.vm")
</body>
</html>