#macro(customHtmlInput $id $labelText)
<textarea rows="4" id="${id}" name="${id}" class="textarea max-textarea" disabled="disabled">#if(${labelText} != "")${labelText}#else$action.getText("customhtml.not.configured")#end</textarea>
#end
<html>
<head>
    <title>$action.getText("custom.html")</title>
    <meta name="help-path" content="/admin/lookandfeel/help/customhtml.vm"/>
</head>

<body>
<content tag="selectedWebItem">customhtml</content>
<form action="$req.contextPath/admin/editcustomhtml.action" method="post" class="aui top-label">
    #form_xsrfToken()
    <div class="field-group">
        <label for="beforeHeadEnd">$action.getText("customhtml.head.end")</label>
        #customHtmlInput("beforeHeadEnd", $generalUtil.htmlEncode($!beforeHeadEnd))
    </div>
    <div class="field-group">
        <label for="afterBodyStart">$action.getText("customhtml.body.start")</label>
        #customHtmlInput("afterBodyStart", $generalUtil.htmlEncode($!afterBodyStart))
    </div>
    <div class="field-group">
        <label for="beforeBodyEnd">$action.getText("customhtml.body.end")</label>
        #customHtmlInput("beforeBodyEnd", $generalUtil.htmlEncode($!beforeBodyEnd))
    </div>
    <div class="buttons-container">
       <div class="buttons">#tag ("Submit" "value='edit.name'" "theme='notable'" "cssClass='button submit'")</div>
    </div>
</form>
#parse ( "/breadcrumbs.vm" )
</body>
</html>

