/* audit table */
#audit-log-table .xsmall-cell {
    width: 5%;
}

#audit-log-table .small-cell {
    width: 10%;
}

#audit-log-table .normal-cell {
    width: 15%;
}

#audit-log-table .wide-cell {
    width: 20%;
}

#audit-log-table .show-details {
    padding: 0;
}

#audit-log-table .record-row-details {
    display: none;
}

#audit-log-table .audit-record-row {
    cursor: pointer;
}

#audit-log-table .audit-record-row:hover {
    background-color: #F5F5F5;
}

.auditing-record-details {
    height: 100px;
}

.auditing-record-details .delta-from, .auditing-record-details .delta-to {
    margin-right: 20px;
    padding: 1px 3px;
}

.auditing-record-details .delta-from {
    background-color: #ffe7e7;
    text-decoration: line-through;
}

.auditing-record-details .delta-to {
    background-color: #ddfade;
}

.auditing-record-details .record-key, .auditing-record-details .record-value {
    clear: both;
}

.auditing-record-details .record-key {
    margin-bottom: 10px;
}

.auditing-record-details .record-value {
    width: 78%;
    float: right;
    text-align: left;
}

.auditing-record-details .details-wrapper {
    border-right: 1px solid #cccccc;
}

.auditing-record-details .associated-items li {
    list-style-type: none;
}

.auditing-record-details .content-section-wrapper {
    border-right: 1px solid #cccccc;
}

.auditing-record-details .associated-items ul {
    padding: 0;
}

.auditing-record-details .detail-header {
    font-size: 12px;
    line-height: 1.67;
    margin: 10px 0 0 0;
    font-weight: bold;
    text-transform: uppercase;
    color: #707070;
}

.auditing-record-details .detail-header:first-child {
    margin-top: 0;
}

.auditing-record-details .aui-page-panel-content, .auditing-record-details .aui-page-panel-sidebar {
    padding: 20px;
}


#audit-log-container table.aui td {
    padding-top: 9px;
    padding-bottom: 0px;
}

#audit-log-container .auditing-date {
    min-width: 140px;
}

/* time filter dialog */
#time-filter-form select {
    width: 90px;
}

#time-filter-form .time-unit-value {
    margin: 0 10px;
}

#from-date-picker, #to-date-picker {
    margin: 0 5px;
    width: 90px;
}

#time-filter-form .filter-radio-container {
    margin-bottom: 15px;
}

#time-filter-form .buttons {
    margin-top: 20px;
}

#time-filter-form .value-error {
    color: #d04437;
}

#time-filter-form .cancel {
    padding-left: 10px;
    padding-right: 10px;
}

/* toolbar */
.buttons-container .aui-button+.aui-button {
    margin-right: 10px;
}

/* audit setting dialog*/
#settings-dialog select.time-unit {
    margin-left: 5px;
    width: 90px;
}

#settings-dialog .aui-icon-wait {
    margin-right: 5px;
}

/* search area */
.search-container .text-query-container {
    display: inline-block;
    margin-top: 10px;
}

.search-entry {
    border: 1px solid #cccccc;
    border-radius: 3px;
    min-height: 30px;
    padding: 0 6px 0 6px;
    width: 200px;
    overflow: hidden;
    font-family: inherit;
    font-size: inherit;
}
.search-entry:disabled {
    color: #969696;
}

/* pagination footer */
.audit-table-pagination .aui-nav-pagination {
    float: right;
    padding-right: 10px;
}

.audit-table-pagination.top {
    padding-bottom: 25px;
}

.audit-table-pagination.bottom {
    margin-top: 15px;
}